body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#box {
    width: 960px;
    height: 960px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

.cell {
    box-sizing: border-box;
    border: 1px solid #ddd;
}
